/* Importo la fuente */
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Rhodium+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Palanquin:wght@100;200;300;400;500;600;700&family=Rhodium+Libre&display=swap');

/* Variables */
:root{
    --font-primary: 'Jura', sans-serif;
    --font-secondary: 'Rhodium Libre', serif;
    --font-tertiary: 'Palanquin', sans-serif;
    --color-primary: #32249D;
    --color-tertiary: #c0c5e2;
    --color-secondary-rgba: rgba(130, 95, 205, 0.5);
    --color-text: #E9EBF8;
    --color-text-secondary: #EDE7F6;
}

/* Reseteo de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 62.5%; /* Usa un punto decimal en lugar de una coma */
}

/* Estilos generales */
body {
    flex: 1;
    background-image: url('../Images/background.jpeg'); /* Reemplaza con la ruta de tu imagen */
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
}

/* Contenido principal */
.container__readapp {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 1rem;
    margin: 1rem 1rem;
    gap: 0.5rem; 
    width: 100%;
    height: 100%;
    flex-wrap: nowrap; 
    box-sizing: border-box;
}

/* Contenido del header */
.header__content{
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    gap: 2.5rem;
    width: 100%; 
}

.header__icon{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0.2rem;
    margin: 0 0.5rem;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    margin: 0;
    width: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;
}

h1 {
    font-family: var(--font-primary);
    font-size: 2.7rem;
    font-weight: 700;
    color: var(--color-text);
    margin:0 1rem;
    text-align: center; 
    flex-wrap: wrap;
}

h2 {
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-primary);
    text-align: center;
    flex-wrap: wrap;
    margin: 0 1rem;
}

h3 {
    font-family: var(--font-tertiary);
    font-size: 1.3rem;
    color: var(--color-primary);
    text-align: center;
    flex-wrap: wrap;
    margin: 0 1rem;
}

p {
    font-family: var(--font-tertiary);
    font-size: 1.4rem;
    color: var(--color-text-secondary);
    text-align: center; 
}

span {
    font-family: var(--font-primary);
    font-size: 1.5rem;
    color: var(--color-primary);
}

/* Main */
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form__warning {
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    gap: 1rem;
    width: 90%;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin: 0.5rem;
    padding: 0.5rem;
    overflow: auto;
}

.form__textbox {
    font-family: var(--font-secondary);
    width: 100%; /* Usa 100% en lugar de un valor fijo */
    height: 30rem;
    resize: none;
    background-color: var(--color-secondary-rgba);
    border: none;
    padding: 2rem;
    border-radius: 1rem;
    color: var(--color-text-secondary);
    font-size: 1.8rem;
}

.form__textbox:focus {
    outline: none; 
}

.form__textbox::placeholder {
    color: var(--color-tertiary); 
}

.form__icon {
    width: 2rem;
    height: 2rem;
}

.form__buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    width: 100%; 
    margin: 0.5rem;
    box-sizing: border-box;
}

.form__button1, .form__button2 {
    font-family: var(--font-primary);
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%; 
}

.form__button1 {
    color: var(--color-text);
    background-color: var(--color-primary);
}

.form__button1:hover {
    background-color: var(--color-text);
    color: var(--color-primary);
}

.form__button2 {
    color: var(--color-primary);
    background-color: var(--color-text);
}

.form__button2:hover {
    background-color: var(--color-primary);
    color: var(--color-text);
}

/* Aside */
aside {
    flex: 1;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 40rem; 
    box-sizing: border-box;
    margin: 0;
}

/* Contenido del Aside */
.aside__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

/* Contenedor del Textarea */
.textarea-container {
    position: relative;
    width: auto; 
    box-sizing: border-box;
}

/* Textarea */
.aside__textbox {
    font-family: var(--font-secondary);
    width: 100%; 
    height: 37rem;
    resize: none;
    background-image: url('../Images/within_message.jpg');
    background-size: cover;
    border: none;
    padding: 1rem 2rem;
    border-radius: 1rem;
    color: var(--color-text-secondary);
    font-size: 1.5rem;
    pointer-events: none;
    box-sizing: border-box; 
    overflow: hidden;
    flex-wrap: wrap;
}

/* Botón Copiar */
.copy-button {
    position: absolute;
    bottom: 1rem;
    right: 1rem; 
    font-family: var(--font-primary);
    font-size: 1.8rem;
    color: var(--color-text);
    background-color: var(--color-primary);
    padding: 0.5rem 1rem;
    border: 1px solid var(--color-tertiary);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
    pointer-events: auto;
    box-sizing: border-box; 
    width: 10rem;
    height: 4rem;
}

.copy-button:hover {
    background-color: var(--color-text);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.aside__textbox:focus {
    outline: none; 
}

.aside__textbox::placeholder {
    padding: 8rem 2rem;
    color: var(--color-text);
    text-align: center;
}

/* Footer */
footer {
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

/* Contenido del footer */
.footer__content {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer__text {
    font-family: var(--font-primary);
    font-size: 1.3rem;
}

.text__resalt {
    font-weight: 700;
    color: var(--color-text);
}


/*media queries*/

/*media queries max 768px min 375px*/
@media (max-width: 768px) and (min-width: 375px) {
    body{
        background-repeat: repeat;
    }
    .header__content {
        gap: 1rem;
    }

    .header__icon {
        width: 3rem;
        height: 3rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1.3rem;
    }

    .container__readapp {
        padding: 1rem;
        flex-direction: column;
        align-items: center;
        margin-left: 1rem;
        margin-right: 1rem;
        width: 100%; 
        box-sizing: border-box;
    }

    .form__textbox, .aside__textbox {
        height: 25rem;
        width: 100%;
        margin-left: 0;
        margin-right: 1rem;
        box-sizing: border-box;
    }

    .form__buttons, .form__warning, aside {
        padding: 0.5rem;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        box-sizing: border-box;
    }

    .form__button1, .form__button2 {
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
    }

    .textarea-container {
        width: 100%;
    }

    .copy-button {
        width: 8rem;
        height: 3rem;
        font-size: 1.5rem;
        padding: 0.5rem;
    }

    footer {
        padding: 0.5rem;
    }

    .footer__text {
        font-size: 1.3rem;
    }
}

/*media queries max 375px*/
@media (max-width: 375px) {
    body{
        background-repeat: repeat;
    }
    .header__content {
        gap: 0.5rem;
    }

    .header__icon {
        width: 2.5rem;
        height: 2.5rem;
    }

    h1 {
        font-size: 2.3rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1rem;
    }

    p {
        font-size: 1.2rem;
    }

    .container__readapp {
        padding: 0.5rem;
        flex-direction: column;
        align-items: center;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        width: 100%; /* Asegura que el contenedor ocupe el ancho completo */
        box-sizing: border-box;
    }

    .form__textbox, .aside__textbox {
        height: 20rem;
        width: 100%; /* Asegura que el textarea ocupe el ancho completo */
        margin-left: 0;
        margin-right: 0;
        box-sizing: border-box;
    }

    .form__buttons, .form__warning, aside {
        padding: 0.5rem;
        margin-left: 0;
        margin-right: 0;
        width: 100%; /* Asegura que los elementos ocupen el ancho completo */
        box-sizing: border-box;
    }

    .form__buttons {
        flex-direction: column;
    }

    .form__button1, .form__button2 {
        font-size: 1.3rem;
        padding: 0.5rem 1rem;
    }

    .textarea-container {
        width: 100%;
    }

    .copy-button {
        width: 6rem;
        height: 2.5rem;
        font-size: 1.3rem;
        padding: 0.5rem;
    }

    footer {
        padding: 0.5rem;
    }

    .footer__text {
        font-size: 1rem;
    }
}